﻿*{padding:0;margin:0}
 html,body{height:100%}
      .appendix{height:10%;clear:both}

#pageBody{
width:100%;
height:100%;
background:#a14341;
position:fixed;
}

header {
width:100%;
height:10%;
z-index:1;
top:0;
    background-image: url("/images/menulogo2.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size:30% 40%;
}
    header:hover {
    cursor:default;
    }
	.total_pl1{
		position:absolute;
		color:white;
		left:1%;
		top:10px;
		width: 350px;
		text-align:right;
    }
	.count_card {
		right:0px;	font-size:120%;

		}
		.out_total_PL{
		right:0px;	font-size:120%;
		}

	.chat{		
	font-size:130%;
	}
	/*CONTENT  //////////////////////////*/
#content{
    	background-image:url(/images/back_content.png);
		background-position:center;
		background-repeat: no-repeat;
        background-size:100% 100%;
		background-color:#ba4242;
        min-height:80%;
		width:100%;
        z-index:0;
}
/*RIGHT PLAYER*/
	#position_card_pl2_0{
		top:43%;
		right:4.5%;
		z-index:6;		
	}	
	#position_card_pl2_1{
		top:63%;
		right:19%;
		z-index:5;		
	}
	#position_card_pl2_2{
		top:43%;
		right:19%;
		z-index:5;		
	}
	#position_card_pl2_3{
		top:23%;
		right:19%;
		z-index:5;		
	}	
	#position_card_pl2_4{
		top:43%;
		right:33.5%;
		z-index:4;		
	}	
/*LEFT PLAYER*/
	#position_card_pl1_0{
		top:43%;
		left:4.5%;
		z-index:6;		
	}	
	#position_card_pl1_1{
		top:63%;
		left:19%;
		z-index:5;		
	}
	#position_card_pl1_2{
		top:43%;
		left:19%;
		z-index:5;		
	}
	#position_card_pl1_3{
		top:23%;
		left:19%;
		z-index:5;		
	}	
	#position_card_pl1_4{
		top:43%;
		left:33.5%;
		z-index:4;		
	}	
	.rightCard{
		width:45%;
		position:absolute;
		right:0px;
		height:100%;
		

 	} 
		.seatRightCard{
			height: 104%;right: -3%; position: absolute;top:-2%;width:105%;
}	
		.seatRightBackBattle{
			transform: rotate(90deg);
			height: 104%;right: -38%; position: absolute;top:14%;width:100%;		
		}
		.seatRightOpenBattle{
			transform: rotate(-55deg);
			height: 104%;right: -38%; position: absolute;top:33%;width:100%;		
		}
	.leftCard{
		width:45%;
		position:absolute;
		height:100%;
		left:0px;		
	}
   		
		.seatLeftCard{
			height: 104%;left: -3%; position: absolute;top:-2%;	width:105%;
		}
		.seatLeftBackBattle{
			transform: rotate(-90deg);
			height: 104%;left: -38%; position: absolute;top:14%;width:100%;	
		}
		.seatLeftOpenBattle{
			transform: rotate(55deg);
			height: 104%;left: -38%; position: absolute;top:33%;width:100%;	
		}
	.position_card{	
		position:absolute;	
		width:13%;
		height:13%;
	}
	.MenuAfterGame{
		height:79.5%;
		width:30%;
		left:35%;
		position:absolute;
		z-index:7;
		text-align:center;
		background-color:#a14341;
		border: 1px solid black;
	}
#coach2{
	position:absolute;
	top: 10.9%;
	left:50.4%;
	}	
#coach1{
	position:absolute;
	bottom: 11.1%;
	right:50.4%;
	}	
/*end content*/
footer {
width:100%;
height:10%;
z-index:2;
bottom:0;
text-align:center;
}

	#gameMenuOnline {
		height: 100%;
	}
	.gameMenuOnline:active {
		margin-left:1%;
		margin-top:1%;
	}
	.img_menu{
		width:70%; margin-top:15px;
	}
	.img_menu1{
		margin-left:auto;
		margin-right:auto;
		width:300px;
	}
	.img_menu1 span{
		font-size:250%;
		color:white;

	}
		#playAgain:active {
		margin-left:3%;
		}
		#homeMenu:active {
		margin-left:3%;
		}
		#theme:active {
		margin-left:3%;
		}
		#rules:active {
		margin-left:3%;
		}

